# Bỏ qua thư mục môi trường ảo
venv/
.venv/
env/

# Bỏ qua cache của Python
__pycache__/
*.pyc

# Bỏ qua cấu hình của IDE
.vscode/
.idea/
# Internal documentation and logs
Logs/
Spec/

# Temporary data
data/processed/raw.geojson
data/processed/bla.py
